.form-control.input-xs {
  height: 22px;
  padding: 5px 5px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}

.floatL {
  float: left;
}

.floatR {
  float: right;
}

.marginRight5 {
  margin-right: 5px;
}

.barre_recherche_chaine {
  width: 100%;
}

.input_searchLiveStream {
  height: 34px;
}

body {
  margin: 0;
  overflow: hidden;
}

nav {
  height: 10%;
  width: 100%;
  background-color: black;
}

nav label {
  color: white;
  font-weight: bold;
}

nav .navbar_buttons {
  margin-left: 5px;
}

nav .navbar_buttons .input-group {
  width:300px;
}

.content {
  width: 100%;
  margin: 0px auto;
}

.embed-video {
  float: left;
  height: 98%;
  width: 85%;
  position: fixed;
}
      
.embed-video iframe {
  width: 100% !important;
  height: 100% !important;
  position: absolute;
  top: 0;
  left: 0;
}

.embed-chat {
  float:right;
  min-width: 15%;
  top: 22px;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: fixed;
}
      
.embed-chat iframe {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.modal{
  display: none;
}

#emplacement_list_stream_twitch {
  margin-bottom: 0px;
  margin-top: 20px;
}

#emplacement_list_stream_twitch label{
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 18px;
}

#emplacement_list_stream_dailymotion {
  margin-bottom: 0px;
  margin-top: 20px;
}

#emplacement_list_stream_dailymotion label{
  margin-left: 10px;
  margin-bottom: 0px;
  font-size: 18px;
}

.twitter {
  /*margin-right: 16%;*/
  margin-top: 1px;
  float:right;
}


#content-resizer {
  background-color: #666;
  position: absolute;
  top: 22px;
  bottom: 0px;
  right: 15%;
  width: 6px;
  cursor: e-resize;
  z-index: 1000;
}

.transparent-layout {
  width: 40px;
  margin-left: -20px;
  height: 100%;
}