<!DOCTYPE html>
<html ng-app="StreamApp">
<head>
  <meta charset="UTF-8">
  <title>StreamView by Ptit_Lee</title>
  
  <link rel="shortcut icon" href="./img/twitch.png">

  <link href="./css/style.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  
  <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  
  <script src="./js/angular.js"></script>
  <script src="./js/resizer.js"></script>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-60673785-1', 'auto');
    ga('send', 'pageview');

  </script>

</head>
<body>

  <nav>
    <div ng-controller="ModalCtrl">

      <div ng-include="'parts/modals.html'"></div>

      <div class="btn-group btn-group-xs navbar_buttons" role="group" aria-label="...">

        <div class="input-group floatL marginRight5">
          <input type="text" name="stream_name" ng-model="stream_name" class="form-control input-xs" placeholder="Nom de la chaine">
          <span class="input-group-btn">
            <button class="btn btn-default btn-xs" ng-click="switch_stream(stream_name)">Changer de Stream</button>
          </span>
        </div>

      </div>

      <button class="btn btn-default btn-xs" ng-click="openModalTwitch()">Voir ta liste de follow actif</button>
      <button class="btn btn-default btn-xs" ng-click="openModalGamingLive()">Voir la liste des chaines GamingLive active</button>

      <div class="twitter">
        <a href="https://twitter.com/Ptit_Lee" class="twitter-follow-button" data-show-count="false">Follow @Ptit_Lee</a>
        <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
      </div>


    </div>
  </nav>


  <div class="content" ng-controller="ContentCtrl">

    <div class="container-fluid embed-video">
      <iframe ng-src="{{video_url}}" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>

    <div class="container-fluid embed-chat">
      <iframe ng-src="{{chat_url}}" frameborder="0" scrolling="no" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    </div>




  </div>



  <div id="content-resizer" 
    resizer="vertical" 
    resizer-width="6" 
    resizer-left=".embed-video" 
    resizer-right=".embed-chat">
    <div class="transparent-layout">
    </div>
  </div>




</body>
</html>